//! **************************************************************************
// Written by: Map J.36 on Sun Dec 08 14:58:30 2013
//! **************************************************************************

SCHEMATIC START;
COMP "en" LOCATE = SITE "L13" LEVEL 1;
COMP "x<0>" LOCATE = SITE "N17" LEVEL 1;
COMP "x<1>" LOCATE = SITE "R17" LEVEL 1;
COMP "y<0>" LOCATE = SITE "E17" LEVEL 1;
COMP "y<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "y<2>" LOCATE = SITE "F4" LEVEL 1;
COMP "y<3>" LOCATE = SITE "R4" LEVEL 1;
SCHEMATIC END;
