##############################
# Sublime Text Project Stuff #
##############################
**/*.sublime*


#######################
# stupid Brixcc files #
#######################
**/*.bak


##################
# Tex byproducts #
##################
**/*.aux
**/*.log

################################
# Image Files (to save memory) #
################################
**/*.jpeg
**/*.png

